*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#blur #navbar #symbol{
    margin: 3px -48px 3px 95px;
    display: block;
}    
#blur #navbar #symbol h2{
    padding: 2px 2px 2px 2px;
    font-family: 'Allison', cursive;
    font-size: 66px;
    color: white;
    text-shadow: 2px 2px 0px rgb(56, 53, 48);
    
}   

#blur #navbar #symbol h5{
    margin:-20px 9px 6px 30px;
    font-family: 'Allison', cursive;
    color: white;
    text-shadow: 2px 2px 0px rgb(56, 53, 48);
    font-size: 19px;
}
#blur #navbar #symbol h5:hover{
    cursor: pointer;
    text-shadow: 2px 2px 0px rgb(10, 148, 153);
    color: snow;
}
#blur #navbar #symbol h2:hover{
    cursor: pointer;
    text-shadow: 2px 2px 0px rgb(10, 148, 153);
    color: snow;
}

#blur #navbar{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 22px 0;
    justify-content: space-between;
    /* position: sticky; */
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Source Serif Pro', serif;
}
#blur #navbar ul{
    display: flex;
    margin: 10px;
    
}
#blur #navbar ul li{
    list-style: none;
    font-size: 20px;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
#blur #navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #b1ffd0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
#blur #navbar ul li:hover::after{
    width: 100%;
}
#blur #navbar ul li a{
    color: white;
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 25px;
    font: bold;
}


#blur #navbar::before{
    content: "";
    background-color:black ;
    position: absolute;
    height: 16%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#blur #navbar #btn1{
    width: 95px;
    padding: 11px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    border: 1px solid white;
    color:white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
#blur #navbar #bt2 #btn1{
    padding: 10px 15px 12px 19px;
    margin: 2px 9px 2px 4px;
}


#blur #navbar #bt2 #btn1:hover{
    color: black;
    background: linear-gradient(45deg,#fb0094,#00f,#0f0);
    transition: 0.5s;
    box-shadow: -3px 3px 5px 3px lightseagreen;
    color: white;
    border: 2px solid #feffa0;
    
}
/* Home Section */

#blur #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#blur #home::before{
    content: "";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    
    position: absolute;
    height: 123%;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
}

#blur #home h1{
    font-size: 41px;
    color: white;
    font-family: 'Lobster', cursive;
    font-family: 'Source Serif Pro', serif;
}
#blur #home p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 33px 0px 8px 2px;
    width: 85%;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Source Serif Pro', serif;
}

#blur #home #btn{
    padding: 10px 15px 12px 19px;
    margin: 2px 2px 2px 4px;
    font-size: 19px;
    border: 2px solid black;
    /* border-radius: 33px; */
    width: 200px;
    padding: 11px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 33px;
    font-weight: bold;
    border: 2px solid #5bffe1b5;
    background: transparent;
    color:white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #5bffe1;
    height: 100%;
    width: 0;
    border-radius: 33px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
#blur #home #btn:hover span{
    width: 100%;
}

#blur #home #btn:hover{
    /* border: #feffa0; */
    color: black;
}

/* User account */
#blur #acc a{
    color: #80dabd;
    text-align: center;
    display: block;
    margin: -2px;
    
}
#blur #acc #sign{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    justify-content: center;
    margin: auto;
    display: block;
    border-radius: 9px;
    padding: 5px 21px;
    background-color: #0cff9ae0;
    margin-top: 17px;
    font-weight: 700;
    box-shadow: 1px 1px 15px 4px white;
    border: 1px solid white;
}
#blur #acc #sign:hover{
    color: #ffffff;
    border: 1px solid white;
    cursor: pointer;
}

/* login form */
.Cont#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#container{
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#container.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#container{
    background:rgb(255 255 255 / 46%);
    width: 277px;
    padding: 30px;
    box-shadow: 0;
    /* border: 2px solid lightgrey; */
    border-radius: 4px;
    box-shadow: 6px 2px 28px 11px #93e0d991;
}

#container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 0, 0);

}
#container form{
    margin-top: -20px;
}

#container form .data{
    height: 31px;
    width: 100%;
    margin: 39px 0;


}
form .data label{
    font-size: 18px;
    color: white;
    
}
form .data input{
    height: 90%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid lightgreyS;
}

form .btn{
    margin: 31px 0px;
    height: 35px;
    width: 104%;
    position: relative;
    overflow: hidden;
}

form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right,#56d8e4,#af26d1,#56d8e4,#af26d1);
    transition: all 0.4s;
}

form .btn:hover .inner{
    left: 0;

}

form .forgot-pass{
    margin-left: 0px;
}

form .forgot-pass a{
    color: #0b0fa5;
    text-decoration: none;
}
form .forgot-pass a:hover{
    text-decoration: underline;
}
form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

form .signup-link{
    text-align: center;
}

form .signup-link a{
    color: #3498db;
    text-decoration: none;
}
/* **************************************************** */

/* Sign form */
#contain{
    position: absolute;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    /* display: none; */
    opacity: 0;
    transition: 0.5s;
}
#contain.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#contain{
    background: rgb(228 245 243);
    width: 332px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0,4);
    border: 2px solid lightgrey;
    border-radius: 23px;
}

#contain .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;

}
#contain form{
    margin-top: -20px;
}

#contain form .data{
    height: 31px;
    width: 100%;
    margin: 39px 0;


}
form .data label{
    font-size: 18px;
    color: black;
    
}
form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid lightgreyS;
}

form .btn{
    margin: 31px 0px;
    height: 35px;
    width: 104%;
    position: relative;
    overflow: hidden;
}

form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right,#56d8e4,#af26d1,#56d8e4,#af26d1);
    transition: all 0.4s;
}

form .btn:hover .inner{
    left: 0;

}

form .forgot-pass{
    margin-left: 0px;
}

form .forgot-pass a{
    color: #3498db;
    text-decoration: none;
}
form .forgot-pass a:hover{
    text-decoration: underline;
}
form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

form .signup-link{
    text-align: center;
}

form .signup-link a{
    color: #3498db;
    text-decoration: none;
}

/* ****************************************** */
#line{
    margin-top: 200px;

}

h3{
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
    font-family: 'Courgette', cursive;   
}

h4{
    text-align: center;
    font-size: 23px;
    margin-top: 23px;
    color: rgb(154, 171, 189);
}

#back{
    background-color: whitesmoke;
}
#back .box{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

#back .box #box1{
    /* border: 2px solid red; */
    height: 417px;
    width: 228px;
    margin: 22px;
    background-color: #ffffff;
}

/* .box #box1 #b1{
    display: block;
    margin: auto;
} */

#back .box #box1 #b1 img{
    width: 224px;
    height: 189px;
    margin: 2px 2px 2px 2px;
}
#back .box #box1 p{
    justify-content: center;
    text-align: center;
    margin:44px 23px 3px 19px;
}
#back .box #box1 button{
    position: relative;
    display: block;
    margin: auto;
    color: white;
    background-color: black;
    top: 14px;
    padding: 8px 40px 8px 40px

}
#back .box #box1 button:hover{
    transition: 0.5s;
    box-shadow: -1px 1px 5px 1px lightseagreen;
    cursor: pointer;
    border: 2px solid white;
    

}
#back .box #box1:hover{
    cursor: pointer;
    box-shadow: -2px 3px 7px 7px rgb(151, 243, 255);
    background-color: rgb(253, 255, 164);
    color: rgb(44, 36, 36);
    font-weight: bold;
    transition: 0.7s;
    

}

#back .box #serv p{
    margin: 26px 6px 3px 3px;
    font-family: 'Kaisei Tokumin', serif;
}

/* About Us Section */
#About-us{
    text-align: center;
    font-size: 39px;
    margin: 36px 4px 41px 2px;
    color: rgb(12 22 33);
    background-color: #ffe8c58c;
}
#manager {
    display: flex;
    margin-top: 53px;
    justify-content: center;
    /* border: 2px solid red; */
    width: 74%;
    height: 0%;
    margin: auto;
    background-color: #f5f5f5;
    /* border: 1px solid lightslategray; */
    box-shadow: 2px 2px 5px 2px rgb(204, 214, 221);
    margin-bottom: 23px;
}    
#manager #p-box{
    margin: 17px 14px 18px 61px;
    /* border: 2px solid red; */
    height: 216px;
    width: 525px;
}

#manager img{
    width: 308px;
    height: 247px;
    margin: 12px 0px 11px 42px;
}


#manager #man-btn button{
    background-color: #173c40;
    margin-top: 19%;
    padding: 1px 15px 1px 18px;;
    color: white;
    font-weight: bold;
}

#manager #man-btn button:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
    transition: 0.5s;
    box-shadow: -1px 1px 5px 1px lightseagreen;
    font-weight: bold;
}

#manager #p-box a{
    text-decoration: none;
    top: 19px;
    position: relative;
    display: block;
    color: #010806;
}

#Manager1{
    display: flex;
    margin-top: 53px;
    justify-content: center;
    /* border: 2px solid red; */
    width: 74%;
    height: 0%;
    margin: auto;
    background-color:#f5f5f5;
    /* border: 1px solid lightslategray; */
    box-shadow: 2px 2px 2px 2px rgb(206, 209, 211);
}   

#Manager1 img{
    width: 308px;
    height: 247px;
    margin: 12px 0px 11px 42px;
}

#Manager1 #p-box{
    margin: 17px 14px 18px 61px;
    /* border: 2px solid red; */
    height: 216px;
    width: 525px;
}

#Manager1 #man-btn button{
    background-color: #173c40;
    margin-top: 19%;
    padding: 1px 15px 1px 18px;
    color: white;
    font-weight: bold;
}


#Manager1 #p-box a{
    text-decoration: none;
    top: 19px;
    position: relative;
    display: block;
    color: #010806;
}

#Manager1 #man-btn button:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
    transition: 0.5s;
    box-shadow: -1px 1px 5px 1px lightseagreen;
    font-weight: bold;
}

/* clients section */

#our-clients{
    text-align: center;
    font-size: 39px;
    margin: 36px 4px 41px 2px;
    color: rgb(12 22 33);
    background-color: #ffe8c58c;
}

#clients #client-logo{
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    background-color: #e6dddd;;
    
}
#clients #client-logo img{
    width: 168px;
    height: 149px;
    margin: 12px 0px 11px 42px;
}
#clients #client-logo img:hover{
    width: 170px;
    height: 151px;
    cursor: pointer;
}

/* contact section */

#contactus{
    text-align: center;
    font-size: 39px;
    margin: 92px 4px 41px 2px;
    color: rgb(12 22 33);
    background-color: #ffe8c526;
    color: rgb(58, 46, 46);
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;  
    height: 105%;
    top: -40px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('/img/contact.jpg') no-repeat center  center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    background-color: #ffffff00;
}
#contact-box input{
    color: white;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    color: white;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 15px;
}

.footer{
    display: flex;
    margin-top: -11px;
    
}
.footer #foot{
    /* border: 2px solid red; */
    width: 100%;
    /* text-align: center; */
    padding: 12px 12px 0px 141px;
    color: wheat;
    background-color: #313131;
}
.footer #foot a{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 9px;
    color: white;
    text-decoration: none
}
.footer #foot a:hover{
    text-decoration: underline;
    font-size: 17px;
}

.footer #foot h6{
    font-size: 18px;
    padding: 12px 0px 24px;
}

#submit{
    justify-content: center;
    margin: auto;
    display: block;
    padding: 10px 20px;
    width: 100%;
    margin-left: 8px;
    font-size: 20px;
    color: black;
    background: linear-gradient(
        146deg,#fb00946b,#0000ff4d,#00ff007a);
    transition: 0.5s;
    /* box-shadow: -3px 3px 5px 3px lightseagreen; */
    color: white;
    /* border: 2px solid #feffa0; */
    cursor: pointer;
}
#submit:hover{
    left: 0;
    box-shadow: -3px 3px 5px 3px lightseagreen;
}


